<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>MyScene</string>
	<key>Description</key>
	<string>Make Flexlayout View</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>SortOrder</key>
	<integer>2</integer>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Required</key>
			<true/>
			<key>Description</key>
			<string>Name of View</string>
			<key>Identifier</key>
			<string>sceneName</string>
			<key>Name</key>
			<string>New View Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___View</string>
			<key>Description</key>
			<string>The view name</string>
			<key>Identifier</key>
			<string>viewName</string>
			<key>Name</key>
			<string>View Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
</dict>
</plist>
